/******    GENERIQUES   ******/

	@import url('https://fonts.googleapis.com/css?family=Raleway');
	*::selection { background: #f08934; color: #fff; }
	* { margin:0; padding:0; outline:none; list-style:none; text-decoration:none; box-sizing:border-box; background: transparent; border:none; }
	html { font-size: 10px; }
	body { background: #FFF; font-family: "raleway", sans-serif }
	.center { width: 80%; max-width: 1400px; margin: auto }
	h1 { font-family: 'raleway', sans-serif; font-size: 4rem; }
	p {	margin: 10px 0 0 0;	font-size: 1.6rem; line-height: 1.4; }


/******    FIRST VIEW   ******/

	.effect { text-transform: uppercase; letter-spacing: 0.2rem; position: relative; -webkit-background-clip: text; background-clip: text; background: -webkit-linear-gradient(0deg, #fff 50%, transparent 50%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-position: 100% 0; background-size:200% 100%; transition: 0.6s all cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.8s; }
	.effect:before{ content: ""; height: 100%; width: 100%; background: #2388f0; z-index: 2; display: block; position: absolute; top: 0;left: 0; transform-origin: left; transform: scaleX(0);  }
	.effect:after{ content: ""; height: 100%; width: 100%; background: #f08934; z-index: 2; display: block; position: absolute; top: 0;left: 0; transform-origin: left; transform: scaleX(0); }
	.effect.active { background-position: 0 0; }
	.effect.active:before {	animation: anime 1.2s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;  }
	.effect.active:after { animation: anime 1.2s 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;  }
	@keyframes anime { 0% { transform-origin: left; transform: scaleX(0); } 50% {  transform-origin: left;  transform: scaleX(1);  } 51%{  transform-origin: right; } 100% { transform-origin: right; transform: scaleX(0); } }

	main { width: 100%; height: 100vh; background: #525252; position: relative;}
	main .fadein { position: absolute; width: 100%; height: 100vh; }
	main .fadein img { position: absolute; width: 100%; height: 100vh; }
	main #pres { position: absolute; transform: translate(-50%, -50%); left: 50%; right: -50%; top: 50%; max-width: 660px; width: 95%; }
	main #pres img { display: block; margin: 3.5rem auto; width: 20rem; }
	main h1, main p { color: #fff; text-align: center; }
	main h1 { margin: 1rem auto 1.4rem; width: 185px; }
	main p { margin: 2rem 0 1rem; font-size: 2rem; }

	.cta { font-size: 1.8rem; text-transform: uppercase; display: block; width:14rem; border: 3px solid #fff; text-align: center; margin: auto; padding: 1rem; cursor: pointer; background: transparent;; text-decoration: none; color: #fff; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px transparent; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
	.cta:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #f08934; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 0 50%; transform-origin: 0 50%; -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
	.cta:hover { color: white; }
	.cta:hover:before { -webkit-transform: scaleX(1); transform: scaleX(1); }

	.fade { opacity: 0 !important; transform: translateY(20px); transition: 0.6s all ease-out; }
	.fade.active { transform: translateY(0); opacity: 1!important;}


/******    PRESENTATION   *****/

    #anchor h1 { padding-top:20px; height: 15vh; background-color: #e0e0e0; font-family: 'Montserrat', sans-serif; font-size: 4rem; text-align: center; }
    #anchor h2{text-align: center; }
    .row{ display: flex; flex-flow: row wrap; margin: 10vh 10vw 10vh 10vw; max-width: 1400px; }
    .col-1-2 { padding: 20px; text-align: justify; width: 50%;}
    .cta_test { position: relative; left: 50%; transform: translateX(-50%);   /* transform: translateY(-50%);*/ text-align: center; font-size: 1em; letter-spacing: 0.2em; cursor: pointer; color: white; text-transform: uppercase; width: 300px; padding: 20px 0 20px 0 ; margin: 0 0 30px 0; border-radius: 100px; background: linear-gradient(to right, #C0ECFA , #73D8FA 50%, #C0ECFA ); box-shadow: 0 4px 20px 0 #C0ECFA; }

@media (max-width: 960px) {
    .col-1-2 { width: 100%; }
}

/******    FOOTER   ******/

	footer { height: 90px; background: #333; color: #fff; }
	footer a { color: #fff; }
	footer div { position: relative; height: 100%; width: 100%; }
	footer div p { position: absolute; transform: translateY(-50%); top: 50%; left: 30px; margin: 0; }
	footer ul { position: absolute; transform: translateY(-50%); top: 50%; right: 30px; margin: 0; }
	footer li { display: inline-block; }
	footer .logo { padding: 15px; display: block; margin: 0 10px; transition: 0.15s; }
	footer #facebook { background: url(../media/logos/facebook.png) no-repeat center; background-size: cover; }
	footer #facebook:hover { background: url(../media/logos/facebook-hover.png) no-repeat center; background-size: cover; }
	footer #twitter { background: url(../media/logos/twitter.png) no-repeat center; background-size: cover; }
	footer #twitter:hover { background: url(../media/logos/twitter-hover.png) no-repeat center; background-size: cover; }
	footer #pinterest { background: url(../media/logos/pinterest.png) no-repeat center; background-size: cover; }
	footer #pinterest:hover { background: url(../media/logos/pinterest-hover.png) no-repeat center; background-size: cover; }


/******    TEST-IA   ******/

	#test-ia main div h1 { width: 95%; max-width: 364px; }
