/******************************/
/********    TEST-IA   ********/
/******************************/

/*****     GENERIQUES     *****/

    @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&subset=latin-ext');
    *::selection { background: #f08934; color: #fff; }
    * { margin:0; padding:0; outline:none; list-style:none; text-decoration:none; box-sizing:border-box; background: transparent; border:none; }
    html { font-size: 10px; overflow: hidden}
    body { background: #FFF; font-family: "raleway", sans-serif }
    .center { width: 80%; max-width: 1400px; margin: auto }
    h1 { font-family: 'raleway', sans-serif; font-size: 4rem; }
    p {	margin: 10px 0 0 0;	font-size: 1.6rem; line-height: 1.4; }

    @keyframes bye { 0%{ opacity: 1; } 20%{ opacity: 0; } 100%{ opacity: 0;}}
    .hello { transform: translateX(150%); opacity: 0}
    .present { transform: translateX(-50%); }
    .bye-bye { transform: translateX(-200%); animation: bye 7s; }

    @keyframes load { 0% { transform: translate(-50%,-50%) rotate(0deg); } 100% { transform: translate(-50%,-50%) rotate(360deg); } }
    #loader { z-index: 10; background: rgba(29, 29, 36, 0.9); width: 100%;height: 100%; position: absolute; top: 50%; right: 50%; left: 50%; transform: translate(-50%,-50%); }
    #loader:before { content: ""; position: absolute; top: 50%; left: 50%; right: 50%; width: 100px; height: 100px; border: 10px solid transparent; border-radius: 100%; border-top-color: #4e8fcc; border-right-color: #4e8fcc; border-bottom-color: #4e8fcc; animation: 1s load linear infinite; box-sizing: border-box; }
    #loader:after { content: "Veuillez patienter..."; position: absolute; top: 50%; left: 50%; right: 50%; width: 200px; height: 22px; color: #fff; font-size: 22px; text-shadow: 0 0 7px #000; text-align: center; transform: translate(-50%,-50%); }

    #test-ia { background: url(../media/bg/1.jpg) center no-repeat; background-size: cover; overflow: hidden; transition: 1s }
    #test-ia .content { position: absolute; transform: translateY(-50%); top: 50%; width: 100%; height: 90%;}


#test-ia main { transition: 5s }
    #test-ia section { position: absolute; height: 100%; left: 50%; right: 50%; top: 0; transition: 2s;}

@media (min-width: 960px) {
    #test-ia section { width: 70%; max-width: 1500px; }
}

@media (max-width: 960px) and (min-width: 480px) {
    #test-ia section { width: 80%; }
}

@media (max-width: 480px) {
    #test-ia section { width: 90%; }
}

@media (max-height: 400px) {
    #warn { position: fixed; width: 100%; height: 100%; background: #4845ee; top: 0; z-index: 100;}
    #warn:before { content: 'Veuillez utilser votre appareil à la verticale.'; position: absolute; color: #fff; font-size: 30px; top: 50%; right: 50%; left:50%; width: 100%; text-align:center; transform: translate(-50%,-50%); }
}

/*****     MAIN     *****/

    main { width: 100%; height: 100vh; position: relative;}
    main .fadein { position: absolute; width: 100%; height: 100vh; }
    main .fadein img { position: absolute; width: 100%; height: 100vh; }
    main #pres { position: absolute; transform: translate(-50%, -50%); left: 50%; right: -50%; top: 50%; max-width: 660px; width: 95%; }
    main #pres img { display: block; margin: 3.5rem auto; width: 70vw; min-width: 250px; max-width: 650px; }
    main h1, main p { color: #fff; text-align: center; text-shadow: 0 0 10px #000; }
    main h1 { margin: 1rem auto 1.4rem; width: 185px; }
    main p { margin: 2rem 0 1rem; font-size: 2rem; text-transform: uppercase;  }

    .cta { font-size: 1.8rem; text-transform: uppercase; display: block; width: 20rem; border: 3px solid #fff; text-align: center; margin: auto; padding: 1rem; cursor: pointer; background: transparent;; text-decoration: none; color: #fff; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px transparent; position: relative; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}
    .cta:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #f08934; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 0 50%; transform-origin: 0 50%; -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
    .cta:hover { color: white; }
    .cta:hover:before { -webkit-transform: scaleX(1); transform: scaleX(1); }

    .fade { opacity: 0 !important; transform: translateY(20px); transition: 0.6s all ease-out; }
    .fade.active { transform: translateY(0); opacity: 1!important;}

    #test-ia main div h1 { width: 95%; max-width: 364px; }


/*****     QUESTS     *****/

    #quests label, .reps p { color: #fff; font-size: 22px; width: 100%; display: block; text-shadow: 0 0 10px #000; }
    #quests select { background: #fff url(../media/logos/ar-slct.png) no-repeat; transition: 2s; background-position: 12px 50%; background-size: 15px; -webkit-appearance: none; -moz-appearance: none;  appearance: none; overflow-y: scroll; }

    #quests input[type="text"]{ background: #fff; transition: 2s;}
    .q-2, .q-3  { margin: 3vh 0 !important; }
    #quests option[value="null"]{ display: none; }
    #quests input[type="text"], #test-ia #quests select { padding: 17px 43px; margin: 14px 0 27px; box-shadow: 0 3px 10px #000; width: 100%; }
    #quests input[type="text"][disabled="disabled"], #quests select[disabled="disabled"]{ transition: 2s;  background: #bbb url(../media/logos/ar-slct.png) no-repeat; background-position: 12px 48%; background-size: 15px; color: #444; }
    #quests div.quest { margin-top: 8vh; position: relative; transition: 2s;}
    #quests input[type="button"] { width: 10%; height: 58px; background: #de8c18; position: absolute; right: 0; font-size: 28px; color: #fff; cursor: pointer; transition: 0.15s;}
    #quests input[type="button"]:hover { background: #a26513; }
    #quests input[type="button"].hold { background: #7b5015; }
    .qn { position: absolute; width: 100%; top: 31%; transition: 2s; }
    .qn .intro-qn { transition: 2s; margin: 9vh 0 3vh; color: #b9c8fd; text-shadow: 0 0 10px #000; }

    .reps {width: 100%; transform: translateY(-33%); display: none; }
    .props li { position: relative; overflow: hidden; background-size: cover; width: 100%; padding: 5vh 4rem; color: white; font-size: 24px; margin: 5vh 0; background: #505050; text-shadow: 0 0 10px #000; cursor: pointer; }
    .props li img { position: absolute; top: 0; left: 50%; filter: brightness(40%); transition: 0.25s; width: 138%; transform: translateX(-50%);}
    .props li p { position: absolute; top: 50%; transform: translatey(-50%); margin: 0; }


@media (min-width: 960px) {
    #quests input[type="text"], #test-ia #quests select { font-size: 20px; }
    #quests input[type="button"] { width: 10%; height: 58px; font-size: 28px; top: 29%;}
    .props li:hover img { filter: brightness(90%); }
    .qn .intro-qn {font-size: 38px; }
}

@media (max-width: 960px) and (min-width: 480px) {
    #quests input[type="text"], #test-ia #quests select { font-size: 18px; }
    #quests input[type="button"] { width: 15%; height: 55px; font-size: 23px;  top: 30%;}
    .qn .intro-qn {font-size: 32px; }
}

@media (max-width: 480px) {
    #quests input[type="text"], #test-ia #quests select { font-size: 16px; }
    #quests input[type="button"] { width: 20%; height: 52px; font-size: 16px;  top: 31%;}
    .qn .intro-qn {font-size: 27px; }
    main audio { display: none !important; }
}


/***   Message   ***/

    #message p { display:none; text-align: center; position: absolute; transform: translate(-50%,-50%); top: 50%; right: 50%; left: 50%; width: 100%; color: #fff; text-shadow: 0 0 40px #000; }
    #message .p6 a { margin: 30px auto; }
    #message .next { display: none; }

    #modal-video { z-index: 100; position: fixed; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.9); display: none; }
    #modal-video iframe { position: absolute; top: 50%; left: 50%; right: 50%; transform: translate(-50%, -50%); max-width: 1280px; max-height: 720px; }
    #modal-video span { display: block; right: 20px; top: 20px; width: 35px; height: 35px; position: absolute;  background: url(../media/logos/cross.png) center no-repeat; cursor: pointer; }

@media (min-width: 960px) {
    #message p { font-size: 34px; }
    #modal-video iframe { width: 74vw; height: 41vw; }
}

@media (max-width: 960px) and (min-width: 480px) {
    #message p { font-size: 25px; }
    #modal-video iframe { width: 88vw; height: 50vw; }
}

@media (max-width: 480px) {
    #message p { font-size: 23px; }
    #modal-video iframe { width: 100vw; height: 56vw; }
}


/***   END   ***/

#end p { font-size: 26px; text-align: center; color: #fff; margin: 20% 0 3%; }
#end #social { display: block; margin: auto; }
#end #social li { display: inline-block; }
#end #social li img{ display: inline-block; width: 100%; }
#links { margin: 6% auto; }


@media (min-width: 960px) {
    #end #social { width: 620px; }
    #links { width: 700px; }
    #end #social li { width:15%;  margin: 2px 2%}
    #links li { display: inline-block; margin: 0 15px; }
}

@media (max-width: 960px) and (min-width: 480px) {
    #links, #end #social { width: 80%; }
    #end #social li { width: 12%; margin: 15px;}
    #end #links li {margin: 20px auto;}
}

@media (max-width: 480px) {
    #links, #end #social { width: 90%; }
    #end #social li { width: 20%; margin: 20px;}
    #end #links li {margin: 20px auto;}
}

/*** Contact ***/
/******     CONTACT  - MODAL CONTACT  *****/

#shadow
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background:rgba(255,255,255,0.5);
    display: none;
    top: 0;
    left: 0;
}

#contact
{
    cursor: pointer;
}

#modal-contact
{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: none;
    background-color:#feae4f;
    width: 640px;
    height: 549px;
    box-shadow: 0px 30px 60px -5px #000;
}

#modal-quit
{
    position: absolute;
    cursor: pointer;
    right: 18px;
    top: 18px;
}

#modal-contact h2
{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0 10px 0;
}

.error
{
    color: #c0392b;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.info-form
{
    font-weight: bold;
    color: #00897b;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

#modal-contact input, textarea
{
    background-color: #fece95;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    margin-top: 18px;
    height: 35px;
    width: 100%;
}

#modal-form
{
    margin: 23PX 90px;
}

#modal-form #form-nom
{
    width: 240px;
}

#modal-form #form-prenom
{
    margin-left: 16px;
    width: 201px;
}

#modal-form #form-msg
{
    height: 168px;
}

textarea
{
    height: 168px;
    max-height: 168px;
    max-width: 100%;
}

#modal-form #form-send
{
    text-transform: uppercase;
    width: 135px;
    padding: 0;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    float: right;
}


/* Modifier couleur placeholder*/
:-moz-placeholder
{
    color: #fff;
}

::-moz-placeholder
{
    color: #fff;
}

::-webkit-input-placeholder
{
    color: #fff;
}

:-ms-input-placeholder
{
    color: #fff;
}


@media (max-width:650px)
{
    #modal-contact
    {
        width: 400px;
        height: 610px;
    }

    #modal-contact input, textarea
    {
        width: 100%;
    }

    #modal-form #form-prenom
    {
        margin-left:0;
        width: 100%;
    }

    #modal-form #form-nom
    {
        width: 100%;
    }
}
